<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image %>);">
  <div class="text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>



<div class="container mt-5 ">
  <div class="d-flex justify-content-between p-3">
      <h1>Movies</h1>
      <%= link_to "Add Bookmark", new_list_bookmark_path(@list), class: "btn btn-primary", style: "font-size: 23px" %>
  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow" style="background-color: #eee; width: 400px; height: 500px;">
          <div class="card-body bg-light object-fit-fill" id="card-main" style="background-image: url('<%= bookmark.movie.poster_url %>'); ">
          </div>
          <div class="p-3" id="info-card">
            <h5><%= bookmark.movie.title %> - <%= bookmark.movie.rating %> 🌟</h5>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <div class="d-flex justify-content-between p-3" id="comment-card">
            <p><i class="fa-solid fa-quote-left">  </i><%= bookmark.comment %></p>
            <%= link_to "Delete this bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger text-decoration-none" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
